# NY_TAXI Data Pipeline
  - Download the datasets from the source URLs
  - Load the datasets into a usable format (ie. Pandas Dataframe)
  - Clean up and transform the data to be ready for export into the database
  - Set up a connection with the database
  - Generate the appropriate schema, if required, for the new tables
  - Iteratively chunk and load the transformed data into the database
  - Close the database connection and perform clean up.

### Download the datasets

In [1]:
import subprocess

def download_csv(url, csv_name):
    try:
        subprocess.run(["wget", url, "-O", csv_name], check=True)
    except subprocess.CalledProcessError as e:
        print(f"Error downloading file: {e}")
        raise

In [2]:
green_taxi_csv = "green-taxi-tripdata.csv.gz"
taxi_zone_csv = "taxi_zone_lookup.csv"

In [4]:
download_csv(url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz", csv_name=green_taxi_csv)

--2025-01-20 19:54:44--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250120T135445Z&X-Amz-Expires=300&X-Amz-Signature=089215cdb1938473faee1b34560f7082be2a51cb976939edcee5b831948896c4&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-20 19:54:45--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250120T135445Z&X-Amz-Expires=300&X-Amz-Signature=089215cdb1938473faee1b34560f7082be2a51cb976939edcee5b831948896c4&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green-taxi-tripdata.csv.gz’

     0K .......... .......... .......... .......... ..........  0%  935K 9s
    50K .......... .......... .......... .......... ..........  1% 1.21M 7s
   100K .......... .......... .......... .......... ..........  1% 3.14M 6s
   150K .......... .......... .......... .......... ..........  2% 1.22M 6s
   200K .......... .......... .......... .......... ..........  3% 3.66M 5s
   250K .......... .......... .......... .......... ..........  3% 1.45M 5s
   300K .......... .......... .......... .......... ..........  4% 4.51M 5s
   350K .......... .......... .......... .......... ..........  4% 1.38M 5s
   400K .......... .......... .......... .......... ..........  5% 4.65M 4s
   450K .......... .......... .......... .......... ..........  6% 1.82M 4s
   500K .......... .......... .......... .......... ..........  6% 3.06M 4s
   550K .......... .......... .......... .......... ..........  7% 3.30M 4s
   600K .......... .......... .......... .......... ..........  8% 1.87M 4s
   650K .......... .......... .......... .......... ..........  8% 6.20M 4s
   700K .......... .......... .......... .......... ..........  9% 8.07M 3s
   750K .......... .......... .......... .......... ..........  9% 2.19M 3s
   800K .......... .......... .......... .......... .......... 10% 4.52M 3s
   850K .......... .......... .......... .......... .......... 11% 2.89M 3s
   900K .......... .......... .......... .......... .......... 11% 18.0M 3s
   950K .......... .......... .......... .......... .......... 12% 2.86M 3s
  1000K .......... .......... .......... .......... .......... 13% 4.64M 3s
  1050K .......... .......... .......... .......... .......... 13% 2.84M 3s
  1100K .......... .......... .......... .......... .......... 14% 4.63M 3s
  1150K .......... .......... .......... .......... .......... 14% 2.60M 3s
  1200K .......... .......... .......... .......... .......... 15% 4.07M 3s
  1250K .......... .......... .......... .......... .......... 16% 23.2M 3s
  1300K .......... .......... .......... .......... .......... 16% 15.3M 2s
  1350K .......... .......... .......... .......... .......... 17% 23.6M 2s
  1400K .......... .......... .......... .......... .......... 17% 2.80M 2s
  1450K .......... .......... .......... .......... .......... 18% 5.00M 2s
  1500K .......... .......... .......... .......... .......... 19% 3.37M 2s
  1550K .......... .......... .......... .......... .......... 19% 7.63M 2s
  1600K .......... .......... .......... .......... .......... 20% 13.2M 2s
  1650K .......... .......... .......... .......... .......... 21% 32.8M 2s
  1700K .......... .......... .......... .......... .......... 21% 2.59M 2s
  1750K .......... .......... .......... .......... .......... 22% 10.7M 2s
  1800K .......... .......... .......... .......... .......... 22% 4.05M 2s
  1850K .......... .......... .......... .......... .......... 23% 4.47M 2s
  1900K .......... .......... .......... .......... .......... 24% 8.21M 2s
  1950K .......... .......... .......... .......... .......... 24% 54.3M 2s
  2000K .......... .......... .......... .......... .......... 25% 3.26M 2s
  2050K .......... .......... .......... .......... .......... 26% 4.56M 2s
  2100K .......... .......... .......... .......... .......... 26% 35.9M 2s
  2150K .......... .......... .......... .......... .......... 27% 5.30M 2s
  2200K .......... .......... .......... .......... .......... 27% 54.0M 2s
  2250K .......... .......... .......... .......... .......... 28% 24.2M 2s
  2300K .......... .......... .......... .......... .......... 29% 7.86M 2s
  2350K .......... .......... .......... .......... .......... 29% 23.6M 2s
  2400K .......... .......... .......... .......... .......... 30% 3.55M 2s
  2450K .......... .......... .......... .......... .......... 30% 35.9M 1s
  2500K .......... .......... .......... .......... .......... 31% 4.52M 1s
  2550K .......... .......... .......... .......... .......... 32% 5.35M 1s
  2600K .......... .......... .......... .......... .......... 32% 9.48M 1s
  2650K .......... .......... .......... .......... .......... 33% 9.39M 1s
  2700K .......... .......... .......... .......... .......... 34% 24.0M 1s
  2750K .......... .......... .......... .......... .......... 34% 31.7M 1s
  2800K .......... .......... .......... .......... .......... 35% 13.6M 1s
  2850K .......... .......... .......... .......... .......... 35% 5.90M 1s
  2900K .......... .......... .......... .......... .......... 36% 6.93M 1s
  2950K .......... .......... .......... .......... .......... 37% 9.52M 1s
  3000K .......... .......... .......... .......... .......... 37% 4.57M 1s
  3050K .......... .......... .......... .......... .......... 38% 27.5M 1s
  3100K .......... .......... .......... .......... .......... 39% 18.0M 1s
  3150K .......... .......... .......... .......... .......... 39%  296M 1s
  3200K .......... .......... .......... .......... .......... 40% 19.8M 1s
  3250K .......... .......... .......... .......... .......... 40% 64.8M 1s
  3300K .......... .......... .......... .......... .......... 41% 32.6M 1s
  3350K .......... .......... .......... .......... .......... 42% 22.9M 1s
  3400K .......... .......... .......... .......... .......... 42% 3.73M 1s
  3450K .......... .......... .......... .......... .......... 43% 38.8M 1s
  3500K .......... .......... .......... .......... .......... 43% 76.4M 1s
  3550K .......... .......... .......... .......... .......... 44% 6.71M 1s
  3600K .......... .......... .......... .......... .......... 45% 13.3M 1s
  3650K .......... .......... .......... .......... .......... 45% 24.2M 1s
  3700K .......... .......... .......... .......... .......... 46% 8.89M 1s
  3750K .......... .......... .......... .......... .......... 47% 4.55M 1s
  3800K .......... .......... .......... .......... .......... 47% 16.9M 1s
  3850K .......... .......... .......... .......... .......... 48% 92.1M 1s
  3900K .......... .......... .......... .......... .......... 48% 18.9M 1s
  3950K .......... .......... .......... .......... .......... 49% 21.1M 1s
  4000K .......... .......... .......... .......... .......... 50% 59.7M 1s
  4050K .......... .......... .......... .......... .......... 50% 7.32M 1s
  4100K .......... .......... .......... .......... .......... 51% 43.6M 1s
  4150K .......... .......... .......... .......... .......... 52% 4.61M 1s
  4200K .......... .......... .......... .......... .......... 52% 70.1M 1s
  4250K .......... .......... .......... .......... .......... 53% 13.6M 1s
  4300K .......... .......... .......... .......... .......... 53% 11.4M 1s
  4350K .......... .......... .......... .......... .......... 54% 22.6M 1s
  4400K .......... .......... .......... .......... .......... 55% 18.0M 1s
  4450K .......... .......... .......... .......... .......... 55% 17.7M 1s
  4500K .......... .......... .......... .......... .......... 56% 20.2M 1s
  4550K .......... .......... .......... .......... .......... 57% 34.3M 1s
  4600K .......... .......... .......... .......... .......... 57% 23.7M 1s
  4650K .......... .......... .......... .......... .......... 58% 29.2M 1s
  4700K .......... .......... .......... .......... .......... 58% 73.6M 1s
  4750K .......... .......... .......... .......... .......... 59% 28.8M 1s
  4800K .......... .......... .......... .......... .......... 60% 70.8M 1s
  4850K .......... .......... .......... .......... .......... 60% 19.9M 1s
  4900K .......... .......... .......... .......... .......... 61% 6.54M 1s
  4950K .......... .......... .......... .......... .......... 61% 32.1M 1s
  5000K .......... .......... .......... .......... .......... 62% 28.0M 1s
  5050K .......... .......... .......... .......... .......... 63% 24.9M 1s
  5100K .......... .......... .......... .......... .......... 63% 36.9M 0s
  5150K .......... .......... .......... .......... .......... 64% 83.0M 0s
  5200K .......... .......... .......... .......... .......... 65% 10.3M 0s
  5250K .......... .......... .......... .......... .......... 65% 7.88M 0s
  5300K .......... .......... .......... .......... .......... 66% 18.6M 0s
  5350K .......... .......... .......... .......... .......... 66% 27.0M 0s
  5400K .......... .......... .......... .......... .......... 67% 16.1M 0s
  5450K .......... .......... .......... .......... .......... 68% 24.1M 0s
  5500K .......... .......... .......... .......... .......... 68% 10.6M 0s
  5550K .......... .......... .......... .......... .......... 69% 14.6M 0s
  5600K .......... .......... .......... .......... .......... 70% 6.01M 0s
  5650K .......... .......... .......... .......... .......... 70%  244M 0s
  5700K .......... .......... .......... .......... .......... 71% 16.4M 0s
  5750K .......... .......... .......... .......... .......... 71% 54.0M 0s
  5800K .......... .......... .......... .......... .......... 72% 30.9M 0s
  5850K .......... .......... .......... .......... .......... 73% 41.2M 0s
  5900K .......... .......... .......... .......... .......... 73% 63.7M 0s
  5950K .......... .......... .......... .......... .......... 74% 62.5M 0s
  6000K .......... .......... .......... .......... .......... 74% 8.39M 0s
  6050K .......... .......... .......... .......... .......... 75% 14.4M 0s
  6100K .......... .......... .......... .......... .......... 76% 43.9M 0s
  6150K .......... .......... .......... .......... .......... 76% 26.0M 0s
  6200K .......... .......... .......... .......... .......... 77% 57.2M 0s
  6250K .......... .......... .......... .......... .......... 78% 47.5M 0s
  6300K .......... .......... .......... .......... .......... 78% 20.1M 0s
  6350K .......... .......... .......... .......... .......... 79% 11.0M 0s
  6400K .......... .......... .......... .......... .......... 79% 13.7M 0s
  6450K .......... .......... .......... .......... .......... 80% 18.4M 0s
  6500K .......... .......... .......... .......... .......... 81% 15.5M 0s
  6550K .......... .......... .......... .......... .......... 81%  140M 0s
  6600K .......... .......... .......... .......... .......... 82% 6.33M 0s
  6650K .......... .......... .......... .......... .......... 83% 23.9M 0s
  6700K .......... .......... .......... .......... .......... 83% 5.98M 0s
  6750K .......... .......... .......... .......... .......... 84%  294M 0s
  6800K .......... .......... .......... .......... .......... 84% 25.6M 0s
  6850K .......... .......... .......... .......... .......... 85% 19.7M 0s
  6900K .......... .......... .......... .......... .......... 86% 25.8M 0s
  6950K .......... .......... .......... .......... .......... 86% 25.8M 0s
  7000K .......... .......... .......... .......... .......... 87% 21.8M 0s
  7050K .......... .......... .......... .......... .......... 87% 69.0M 0s
  7100K .......... .......... .......... .......... .......... 88% 26.4M 0s
  7150K .......... .......... .......... .......... .......... 89% 12.4M 0s
  7200K .......... .......... .......... .......... .......... 89% 34.5M 0s
  7250K .......... .......... .......... .......... .......... 90% 30.8M 0s
  7300K .......... .......... .......... .......... .......... 91% 29.9M 0s
  7350K .......... .......... .......... .......... .......... 91% 68.9M 0s
  7400K .......... .......... .......... .......... .......... 92% 32.9M 0s
  7450K .......... .......... .......... .......... .......... 92% 9.36M 0s
  7500K .......... .......... .......... .......... .......... 93%  124M 0s
  7550K .......... .......... .......... .......... .......... 94% 12.2M 0s
  7600K .......... .......... .......... .......... .......... 94% 59.7M 0s
  7650K .......... .......... .......... .......... .......... 95% 23.2M 0s
  7700K .......... .......... .......... .......... .......... 96% 70.9M 0s
  7750K .......... .......... .......... .......... .......... 96% 37.9M 0s
  7800K .......... .......... .......... .......... .......... 97% 21.7M 0s
  7850K .......... .......... .......... .......... .......... 97% 19.4M 0s
  7900K .......... .......... .......... .......... .......... 98%  121M 0s
  7950K .......... .......... .......... .......... .......... 99%  182M 0s
  8000K .......... .......... .......... .......... .......... 99% 68.5M 0s
  8050K .......... ........                                   100%  303M=1.0s

2025-01-20 19:54:48 (7.88 MB/s) - ‘green-taxi-tripdata.csv.gz’ saved [8262584/8262584]

In [5]:
download_csv(url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv", csv_name=taxi_zone_csv)

--2025-01-20 19:54:54--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250120T135454Z&X-Amz-Expires=300&X-Amz-Signature=41a84f47533bd5f6fc6281e1406740384ab2957d0d3897c5bd4b59891003ffd6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-20 19:54:55--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250120T135454Z&X-Amz-Expires=300&X-Amz-Signature=41a84f47533bd5f6fc6281e1406740384ab2957d0d3897c5bd4b59891003ffd6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

     0K .......... ..                                         100% 19.3M=0.001s

2025-01-20 19:54:55 (19.3 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

## Load Datasets

In [7]:
import pandas as pd

In [8]:
pd.read_csv(green_taxi_csv, compression="gzip")

/var/folders/9l/qp430nyx6vnfvqjzpnpdfl7h0000gn/T/ipykernel_56812/3006297506.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(green_taxi_csv, compression="gzip")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.00,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.50,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,NaN,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,29.57,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,NaN,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,23.11,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,NaN,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,15.23,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,NaN,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,36.12,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [9]:
df_iter = pd.read_csv(green_taxi_csv, compression="gzip", chunksize=50000, iterator=True)

In [10]:
df_iter

In [11]:
df = next(df_iter)

In [12]:
print(pd.io.sql.get_schema(df, name="green_taxi"))

CREATE TABLE "green_taxi" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

### Connect Database

In [14]:

from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine

def get_db_engine(user, password, host, port, db):
    db_url = URL.create(
        drivername = "postgresql",
        username=user,
        password=password,
        host=host,
        port=port,
        database=db
    )
    return create_engine(db_url)

In [15]:
engine = get_db_engine(user="postgres", password="postgres", host="localhost", port="5433", db="ny_taxi")

In [16]:
engine.connect()

In [17]:
from toolz import curry, pipe

In [18]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [ ]:
@curry
def transform(df):
    df = df.assign(
        lpep_pickup_datetime = pd.to_datetime(df['lpep_pickup_datetime']),
        lpep_dropoff_datetime = pd.to_datetime(df["lpep_dropoff_datetime"])
    )